	 *{ padding: 0px; margin: 0px ; 
	font-family: initial;
	box-sizing: border-box;}

html , body{ max-width: 100% !important;
    overflow-x: hidden !important;}

html::-webkit-scrollbar{
	width: 10px; 
	background-color:	white}


html::-webkit-scrollbar-thumb{
background:white;
border-radius: 20px;
 background:#FFCB03;}

html::-webkit-scrollbar-thumb:hover {
   background:#FFCB03;}


@font-face{
	font-family:didactgothic;
	src:url(../fonts/didactgothic.ttf)}

@font-face{
	font-family:Modric;	
	src:url(../fonts/Modric.ttf)}


@font-face{
	font-family:alt;	
	src:url(../fonts/Alt.otf)}

@font-face{
	font-family:subGeo;	
	src:url(../fonts/subGeo.ttf)}	
	
body{margin: 0 auto;
margin: 0 auto}

.menu-lateral{display: none;}
/*Header*/

.head{ background-image: url(../img/1285112.jpg);
		width: 100%;
		height: 720px;
		background-size:100% 100%;
		background-repeat: no-repeat;
		 background-position: center;
    	position: relative; 
    	margin: 0px auto;} 

.top{ 
 margin: 0 auto;
color: white;
background:rgba(0,0,0,1);
width: 100%;}

.top article{	
display: grid;
grid-template-columns: repeat(2,1fr);
margin: 0 auto;
width: 98%;
max-width: 1200px;}	

.top a i{font-size:17px;
margin: 12px 1px}

.top a {
  color:black;
  cursor: pointer;
  text-align:center;
  border: none;
  border-radius: 20px;
font-size:15px;
padding: 0px 5px ;
color: white;	
font-family:didactgothic;
text-decoration: none;
transition: 1s all ease-in-out;
letter-spacing: 1px;}

.top a:hover {
  background-size: 100% 50%;
  transition-delay: 50ms ;
color:#FFCB03}

.top .REDES-S{display: flex;
justify-content: flex-end;
margin-right: 20px}

.top .REDES-S a {padding: 0px 3px;
font-size: 20px}


.top .REDES-S a {padding: 0px 3px;
transition: 1s all ease-in-out;}

.top .REDES-S a i {font-size: 25px}

.top .REDES-S a:hover{transform: scale(1.3);
transition:all 1s ease-in-out }


.fa-facebook{color: #1877f2}
.fa-linkedin-square{color:#45b8f6}
.fa-instagram{color: #dc0cd5}
.fa-tiktok {color:	#ff0693}


.contenedor{ 
 margin: 0 auto;
color: white;
background:rgba(0,0,0,0.66);
width: 100%;
padding: 5px 0px}		


.menu{width: 100%;
max-width:1300px;
margin: 0 auto;
justify-content: right;
align-items: center;
display:grid;
grid-template-columns: repeat(2,1fr);}

.contenedor .logo{width: 50px;
margin-left: 2%;}

.contenedor .menu a{display: flex;
text-decoration: none;
color: white;
}

.contenedor .menu a img{
width: 60px;
height:50px;
transition: all 1s ease;}


.contenedor .menu a:hover > img{
filter: drop-shadow(0.5px 0px 0px #FFCB03) }

.contenedor .logo a h1 b{display: none;
opacity: 0;
visibility: hidden;}

.contenedor .logo a h1{
	font-family:Modric;
font-size: 36px;
font-family:didactgothic;
width: 200px;
letter-spacing: 2px;
margin-left:5px;
color:rgba(245, 245, 245, 0.865) ;
transition: all 1s ease;}

.contenedor .logo a:hover >h1
{text-shadow:0px 0px 1px yellow;
	color:#FFCB03}

.menu ul {
display: flex;
width: 100%;
justify-content:right;
align-items:right;
list-style: none;
padding-right: 25px}

 .menu ul  a{
 text-decoration: none;
 color: white ;
 font-size:20px;
border-bottom:2px solid transparent;
	font-family:monospace;	
font-family:didactgothic;
margin: 0px 8px;}

.menu ul #Inicio{
	 	 	color:#FFCB03;
border-bottom:2px solid #FFCB03;
 	 	transition: all 1s ease;}


.menu ul a:hover{
	 	 	color:#FFCB03;
border-bottom:2px solid #FFCB03;
 	 	transition: all 1s ease;}


.menu ul:hover > #Inicio{
color:white;
border-bottom:2px solid transparent;
 	 	transition: all 1s ease;}

.menu ul #Inicio:hover{
	 	 	color:#FFCB03;
border-bottom:2px solid #FFCB03;
 	 	transition: all 1s ease;}


.what{position: fixed;
bottom:30px;
right:2%;
z-index: 999;
opacity: 1;
border:3px solid rgba(255, 255, 255, 0.44);
background-color: green;
border-radius: 50%;
padding: 10px 5px;
animation: what 7s infinite alternate;}


.what a i{
border-radius: 50%;
font-size:40px;
animation: what 7s infinite alternate;
color: rgb(233, 238, 233)}


@keyframes what{
	0%{box-shadow: 0 0 0 3px green;}
	50%{box-shadow: 0 0 10px green;}
	100%{box-shadow: 0 0 3px green;}}


.what i:hover{
border-radius: 50%;
transition: all 2s ease ;
color: white;}


.flex{display: grid;
grid-template-columns: repeat(1,1fr);
width: 95%;
margin: 0 auto;
max-width: 1300px}

.mensaje{
width:85%;
margin: 0px auto ;
margin-top:130px;
background: rgba(0,0,0,0.0);
max-width: 800px;}

:root{--characters:20ch;
--characters-steps:20;}

.mensaje p{ 
color: white ;
font-size:24px; 
margin:0px auto;
text-align: center;
text-shadow: 4px 1px 1px rgba(71, 56, 9, 0.816);
overflow: hidden;	
white-space: nowrap;
color: white;
animation: lon 6s steps(var(--characters-steps)) 2s infinite , tap 1s infinite ;
border-right:4px solid #ffab03;
width:0px;
font-family:alt;
letter-spacing: 2px;}

@keyframes tap{
  0%{border-right-color: transparent;}
  50%{border-right-color: #FFCB03;}
  100%{border-right-color:transparent}}

@keyframes lon{
  0%{width: 0px;}
  50%{width:var(--characters) }
  80%{width:var(--characters)}
	 100%{width: 0px;}}	

.mensaje p b{color:#ffaa00;
font-family:alt;
text-shadow: 2px 1px 1px rgba(12, 12, 12, 0.6);}

.mensaje h3{ 
color: rgb(253, 253, 253) ;
font-size:65px; 
text-align: center;
font-family: monospace;
font-family:didactgothic;
text-shadow: 5px 5px 2px rgba(20, 20, 20, 0.867);
letter-spacing:1px;
width: 92%;
margin: 0 auto;}

 .mensaje a {
font-family:didactgothic;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
margin:20px auto;
width: 350px;
color:white;
background: rgba(15,15,15,0.89);
border:1px solid #FFCB03;
border-radius: 5px;text-decoration: none;
transition: all 1s ease;
box-shadow: 0px 0px 3px white;}

.mensaje a b {text-decoration: none;
font-family:didactgothic;
background: #FFCB03;
color: black;
padding:7px 12px;
margin-left: -28px;
margin-right: 10px;
border-radius:3px 0px 0px 3px;}

/*Saludo agencia*/
.agencia{display: grid;
grid-template-columns: repeat(2,1fr);
margin: 40px auto;
grid-gap: 20px;
max-width:1100px;
width: 95%;}

.agencia .somos{font-size: 20px;
text-align: left;
font-family:didactgothic;
border-bottom: 1px solid rgba(128, 128, 128, 0.701);
color: rgb(85, 84, 84);
padding: 0px 3px;}

.agencia h2{font-size: 40px;
margin:5px 0px;
font-family:didactgothic;
color:#ff7300;
width: 100%;
font-family:alt;
text-shadow: 0px 0px 3px rgb(218, 208, 208);}

.agencia p{ 
font-size: 18px;
text-align: left;
font-family:didactgothic;
margin-bottom: 20px;}

.agencia p b{
font-family:didactgothic;
	font-size: 18px;
text-align: left;
margin-top: -6px;}

.agencia #bar{
	position: absolute;
content: ' ';
background: rgb(250, 92, 0);
width: 160px;
height: 3px;
background: linear-gradient(35deg, rgb(255, 164, 94) 0%, rgb(252, 232, 15) 48%, rgb(255, 106, 0) 100%);
border-radius:50px}

.agencia-img{
background: hsla(10, 72%, 44%, 1);
background: linear-gradient(35deg, rgb(231, 104, 6) 0%, rgb(246, 188, 61) 48%, rgb(239, 166, 20) 100%);
width: 400px	
;height: 280px;
border-radius: 10px	;
margin: 0 auto;
margin-top: 20px;
box-shadow: 0px 0px 5px rgb(5, 5, 5);
transition: 2s all ease-in-out}


.agencia-img > img{transition: 1s all ease-in-out}

.agencia-img img{width: 100% ;
height:270px;
margin-left:5%;
margin-top: -3%;
border-radius: 5px;
border:1px solid gray;
box-shadow: 0px 0px 3px rgb(18, 18, 18)	
}

.agencia-img:hover> img{width: 100% ;
height:270px;
margin-left:-5%;
margin-top:6%;
border-radius: 5px;
transition: all 1s ease-in-out;}




/* Complemento de introduccion */
.fondo2{background-image: url(../img/fondo2.jpg); 
background-repeat: no-repeat;
background-size: 100% 100%;
padding: 50px;}

.fondo2 h5{text-align: center;
font-size: 45px;
color: white;font-family:alt;
padding-top: 20px;
width: 600px;
margin: 0 auto;
}

.fondo2 a{text-decoration: none;}

.fondo2 a h6{text-align: center;
font-size:25px;
color: rgb(255, 255, 255);
font-family:subGeo;
width: 300px;
margin: 20px auto;
padding:10px 14px;
border-radius:33px;
box-shadow: 0px 0px 2px rgb(255, 252, 252);
text-shadow: 1px 1px 1px black;
background: linear-gradient(35deg, rgb(235, 133, 54) 0%, 
rgb(255, 174, 0) 48%, rgb(138, 93, 4) 100%);
background-size: 100% 100%;}

.fondo2 a h6:hover{
box-shadow: 0px 0px 6px rgb(255, 146, 3);
text-shadow: 1px 1px 1px rgb(240, 35, 3);
transition: all 1s ease-in-out;
background-size: 300% 300%}



.serv-a{display:grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
margin:20px auto;
max-width:1100px;
color: black;
padding: 0px 0px 0px 50px}

.serv-a p{
font-family:didactgothic;
font-size: 19px;
text-align: left;
margin-top:35px}

.serv-a p b{font-family:didactgothic;
 		font-size: 19px;
 	text-align: left;}


.serv-a ul{
 		font-size: 19px;
 	margin-left: 50px;
 	text-align: left; 
 	margin-top: 20px}

.serv-a ul {list-style: none;}

.serv-a  ul li::before {
  content: "& ";
  font-size:20px;
  color:#fc4a1a;
margin-top: 10px;}

.serv-a li{font-family:didactgothic;;
 		font-size: 20px;
 	text-align: left; 
transition: all 500ms ease;
margin-top: 10px;}


.serv-a li:hover{
cursor: pointer;
color: 
#fc4a1a;
transform: scale(1.1);}

/* Serv*/
.ourServicesAll{background-size: 100% 100%;
background-repeat: no-repeat;
padding:40px 10px;
 background-image: url(../img/pattern-randomized.svg);	
		background-size: cover;
		background-repeat: no-repeat;
		 background-position: center; }

.ourServices{width: 90%;
max-width: 1200px;
margin: 40px auto;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap:50px;}

.ourServices .ServiciosIcon {display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap:15px;}

.ourServices .ServiciosIcon .our1{margin-top: -50px;}

.ourServices .ServiciosIcon ul .sIcon{ 
margin: 10px 0px;
box-shadow: 0px 0px 15px gray ;
padding:10px 20px;
background-color: #feffffc0;
list-style: none;}

.ourServices .ServiciosIcon ul .sIcon img{
	color: rgb(255, 102, 0);
width: 50px;
height: 50px;}

.ourServices .ServiciosIcon ul .sIcon h5{
font-family: subGeo;
font-size:18px;
margin:5px 0px ;}

.ourServices .ServiciosIcon ul .sIcon P{
font-family:didactgothic;
font-size: 16px;
margin: 0px ;
color: rgb(47, 45, 45);}

.ourServices .ServiciosIcon ul .sIcon a{text-decoration: none;}

.ourServices .ServiciosIcon ul .sIcon a{
 margin:0px 10px;
background: linear-gradient(35deg, rgb(231, 104, 6) 0%, 
rgb(246, 188, 61) 48%, rgb(239, 166, 20) 100%);
color:white;
border-radius: 50%;
cursor: pointer;
transition:all 2s ease;
display: flex; justify-self:end;
width: 40px ;
height: 39px;}

.ourServices .ServiciosIcon ul .sIcon .fa-arrow-right{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 22px;
}

.ourServices .ServiciosIcon ul .sIcon .fa-arrow-right:hover{
	color:#281b0b;
	background-color: #ffb700;}

.ServiciosText{margin-top: 20px;}

.ServiciosText span {color: rgb(255, 85, 0);
font-family:alt;
font-size:22px;
border-bottom: 1px solid orangered;
padding: 0px 5px;}

.ServiciosText h4 {color: rgb(15, 15, 15);
font-family:alt;
font-size: 35px;
margin: 5px 0px;}

.ServiciosText p {color: rgb(0, 0, 0);
font-family:didactgothic;
font-size:18px;
margin: 10px auto;}

.ServiciosText li {color: rgb(0, 0, 0);
font-family:didactgothic;
font-size:17px;
margin: 10px 30px;
list-style:square;}

.ServiciosText li::marker{color:  rgb(255, 0, 0);
font-size: 20px;}

.aServ{font-family:sans-serif ;
font-size: 18px; 
color:rgb(244, 244, 244);
background: rgb(225, 51, 0);
width: 260px;
padding:10px 20px ;
display: flex;
text-align: center;
align-items: center;
margin-top: 20px;
border-radius: 40px;
text-decoration: none;
transition: all 1s ease-in-out;
border: 3px solid rgba(205, 201, 201, 0.9);}

.aServ:hover{background-color: #e75516;
color:white;
border: 3px solid rgba(7, 7, 7, 0.676);}

.metodologia{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 90%;
	margin:40px auto;
max-width: 1200px}

.metodologia div img{width: 90%;
height: 400px;
margin-left: 10%}

.metodologia div h4{	
font-size: 40px; 
padding: 10px 0vh; 
letter-spacing: 0px;
color:#ff6f00;;
font-family:didactgothic;	}

.metodologia div ol li{font-family:didactgothic;	
 		font-size: 18px; 
 		padding:5px 0vh; 
 			letter-spacing: 1px;
 			color: black ;
 			width: 100%}

.metodologia div ol li b{
font-family:didactgothic;	
font-size: 20px;  
letter-spacing: 1px;
color:#0b0b0b }

.tiempo{display: flex;
width:90%;
justify-content: center;
align-items: center;
margin: 30px auto;
max-width: 1000px;
margin-top: -20px;}

.tiempo div{padding: 0px 30px;
margin:0px auto;
font-family:didactgothic;	
font-size: 18px; 
cursor: pointer; 
border-right:1px solid rgba(128, 128, 128, 0.454);
transition: 1s all ease-in-out;}

.tiempo div:hover{border-right:1px solid #ff7915;}

.tiempo div:last-child{border-right: none }

.tiempo div:last-child:hover{border-right: none }


.tiempo div i{	
font-size: 60px; 
display: flex; 
justify-content: center;
align-items: center;
margin: 10px auto;
color: gray;
transition: 1s all ease-in-out;}

.tiempo div i p{
font-size: 45px; 
color:rgb(0,0,11);
padding-left: 10px; 
color: gray;
font-family:didactgothic;	}

.tiempo div p{
font-size:20px; 
font-family:didactgothic;	
text-align: center;transition: 1s all ease-in-out; }


.tiempo div:hover > i {
	color:#ff7915; }


.tiempo div:hover > i p{
color:#ff7915;
cursor: pointer; }

.tiempo div:hover >  p{
color:#ff7915;
cursor: pointer; }


.clientes{
    color: white;
    padding:20px;
background: #181a23;
width: 100%}

.clientes-a{
margin: 0 auto;
max-width: 1300px;
width: 100%;} 

.texto-cliente h5{font-size:28px;
margin: 10px auto;
color:#FFCB03;
text-align: center;
font-family:didactgothic;	;
border-bottom: 1px solid #FFCB03;
letter-spacing: 2px;
width: 150px;}

.texto-cliente h6{font-size:25px;
letter-spacing: 1px;
margin:5px auto;
width: 550px;
color:#ff7915;
text-align: center;
font-family:didactgothic;
color: white}

.clientes-img {width: 100%;
margin: auto;
overflow: hidden;
margin:20px auto;}



.clientes-img ul {display: grid;
	grid-template-columns: repeat(10,1fr);
justify-content: center;
align-items: center;
margin: 10px auto;
animation: scroll 30s linear infinite;
-webkit-animation:scroll 20s linear infinite ;
width: calc(250px * 10)}


.clientes-img ul li{width: 250px;list-style: none;}


@keyframes scroll{
  0%{-webkit-transform: translateX(0);
      transform:translate(0);}
  100%{-webkit-transform: translateX(calc(-200px * 5));
      transform: translateX(calc(-200px * 5));}}



.clientes-img ul li img{width: 90% ; height: 130px}


.ideas{display: grid;
grid-template-columns: repeat(2,1fr);
max-width:1100px;
margin:50px auto;
grid-gap:10px;
width:90%}

.ideas .img-idea img{
	width:420px;
height: 420px;
border-radius: 20px ;
z-index: -1;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 20px;}


.ideas .img-idea p{
padding:10px;
width:320px;
position: absolute;
margin-top: -50px;
 background:#e75516;
margin-left: 5%;
font-family:didactgothic;
color: white;
font-size: 15px;
box-shadow: 0px 0px 6px black;}

.ideas .texto-idea{margin-left: -30px;}


.ideas .texto-idea h5{
font-size:35px;
text-align: left;
font-family:alt;
width: 100%;
color:#ff6f00;;
margin-top: 20px;}


.ideas .texto-idea p{
font-size:17px;
text-align: left;
margin: 10px ;
font-family:didactgothic;
width: 90%;
color:black;
margin-left: 0px}


.ideas .texto-idea p b{
font-size:18px;
text-align: left;
margin: 10px auto;
font-family:didactgothic;
width: 100%;
color:black;}

.ideas .texto-idea li{
	display: flex;
	cursor: pointer;
transition:all 500ms ease;}

.ideas .texto-idea li:hover{transform: scale(1.1); }

.ideas .texto-idea li p{
margin-left:10px;
font-size: 15px;
width: 80%;}

.ideas .texto-idea img{font-size: 50px;
color:black;
display: flex;
width: 50px;
height: 70px;}


.ideas .texto-idea li:hover > p b{
color:orangered;;
cursor: pointer; }

.con2{width: 80%; 
background-image: url(img/con2.svg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-top: 80px;
border-radius:20px;
padding: 20px 40px;
margin:20px auto;
text-align: center;
max-width: 650px;}

.con2 h5{
color: white;
font-family:didactgothic;
color:#FFCB03;
letter-spacing: 2px;
font-size: 40px}

.con2 p{ font-size:20px; 
color: white;
width: 500px;
font-family:didactgothic;
text-align: center;
margin:0px auto;
text-shadow: 10px 10px 10px black}			

.contas {  
background: #fc4a1a; 
font-size:20px; 
justify-content: center ;
color: black ; 
border-radius: 5px;
padding: 5px;
width: 40%;
margin: 0px auto;
color: white;
margin-top: 10px}


.contas i{text-decoration: none;
		color:white;
	font-size: 30px;
margin-left: 5px;}


.contas a{text-decoration: none;
		color:white;
	font-size: 20px;
	font-family:didactgothic;}

.contas:hover{ background: rgb(235, 142, 7)
			; font-size: 20px; 
			justify-content: center ;
			color:white ;}


.contas a:hover{text-decoration: none;
	color: white}


.cite{width:80% ; 
	align-items: center; 
	justify-content: center;
	margin: 30px auto;
max-width: 900px}

.lo	{width: 90%;
margin: 0px auto}

.lo img{ border-radius: 50%; 
width: 150px; 
display: flex; 
justify-content: center;
align-items: center; 
margin: 0 auto}

.lo h3{ 	
  font-size: 30px ;
	padding-bottom:20px;
	text-align: center;
font-family:didactgothic;}

.lo p{ font-size: 25px; ;
	border-bottom: 1px solid black;
text-align: center;
font-family:didactgothic;
width: 60%;
margin: 0 auto;
;font-style:italic;}



.grupo2{background:#000A15}

.grupo2-1{margin: 0 auto;
padding: 5px 0px;
width:100%;
max-width: 1100px;}


.grupo2 a{font-size: 16px;
color:white;
padding: 0px;
margin: 0px;
font-family:didactgothic;
text-decoration: none;}

.grupo2 a:hover{font-size: 16px;
color:orange;
padding: 0px;
margin: 0px;
font-family:didactgothic;
text-decoration: none;
transition: all 1s ease;}

.grupo2 p{font-size: 12px;
color:gray;
width: 70%;
text-align: left;
padding: 0px;
margin: 0px;
max-width:320px;
font-family:didactgothic}

.grupo2 p:hover{font-size: 13px;
color:white;
transition: all 2s ease;
cursor:pointer;}


footer{background: #111a23;
    color: #dadfe2; border: 1px solid green;}

	.Contac-info{width: 95%;
	max-width: 1100px;
margin:20px auto;display: grid;
grid-template-columns: repeat(4,1fr);}

.Contac-info figure a{display: flex;
color: white;
text-decoration: none
;overflow: hidden;
margin-top: -10px;}

.Contac-info figure img{width:50px  ;height: 50px;
margin-top: 4px;}


.Contac-info figure p{ font-size: 38px;
; font-family: monospace;font-family:usar;}

.Contac-info figure img,h5{transition: 1s all ease-in-out}

.Contac-info figure a:hover > img{
filter: drop-shadow(0.5px 0px 0px #FFCB03); 
transition: 1s all ease-in-out}

.Contac-info figure a:hover > p{text-shadow:0px 0px 1px yellow;
	color:#FFCB03;transition: 1s all ease-in-out}


.Contac-info .redes-contacto  {font-size: 28px;
padding: 5px;
display: grid ;
grid-template-columns: repeat(4,1fr);
width: 70%;}



.Contac-info ul a i{transition: 1s all ease-in-out ;}

.Contac-info ul a i:hover{transform: scale(1.5);
transition: 1s all ease-in-out;}

.Contac-info {color: white;}


.Contac-info div h6 { font-size: 20px;
; font-family: monospace;
font-family:didactgothic;
letter-spacing: 2px;}

.Contac-info div li{list-style: none;
font-family:didactgothic;}

.Contac-info div li a:hover{list-style: none;
font-family:didactgothic;transition: 1s all ease;
color: #e7cf16;}

.Contac-info div li a{color: #a2a5a9;text-decoration: none;
font-family:didactgothic;
transition: 1s all ease-in-out}

.Contac-info div  p{ margin:3px 0px;
font-family:didactgothic;
color: #a2a5a9}

.Contac-info div form input {border: 1px solid rgba(239, 243, 29, 0.76);
color: white;
font-family:didactgothic;
width: 200px;
padding:  5px 10px;
margin-top: 10px;
background-color: #ffffff1f;}

.Contac-info div form input::placeholder{color: rgb(255, 255, 255);
font-size: 15px;}


.Termino{
	border: 1px solid blac;
	display: grid;
	grid-template-columns:200px 320px;
	justify-content: end;
max-width: 1100px;
margin: 20px auto;}

.Termino div a{color: rgba(255, 255, 255, 0.466);
font-size: 14px;
font-family:didactgothic;
text-decoration: none;
transition:all ease 1s ;}

.Termino div a:hover{color: white}

.up{background-color: transparent;
border: none;
display: flex;justify-self:start;
position: absolute;
right:1%;
margin-top: 5px;
}

.up a i{ 
color: rgba(237, 227, 227, 0.94);
font-size: 40px;;
border-radius: 2px;
transition: all 1s ease; }

.up a i:hover{color: rgba(255, 200, 0, 0.94)}